:root {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  color: #111827;
  background: #f9fafb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
